SECRET_KEY=django-insecure-change-this-key
DEBUG=True

DB_NAME=ebook_ecommerce_db
DB_USER=ebook_user
DB_PASSWORD=change_me
DB_HOST=localhost
DB_PORT=5432

PAYMENT_BANK_CODE=VCB
PAYMENT_BANK_NAME=Vietcombank
PAYMENT_BANK_ACCOUNT_NUMBER=000012345678
PAYMENT_BANK_ACCOUNT_NAME=READIFY EBOOK
PAYMENT_BANK_QR_TEMPLATE=compact2
PAYMENT_BANK_QR_BASE_URL=https://img.vietqr.io/image
